html {
  width: 100%;
  
} 

body {
  position: relative;
  width: 100%;
  min-height: inherit;
  margin: 5px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
  font-size: 14px;
  
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: 40px auto 40px;  
  grid-gap: 3px;
  grid-template-areas: 
      "h h h h"
      "c c c c"
      "f f f f";
}
 



/* Top Banner BEGIN */ 
.top-home-link {
  grid-area: h;
  background-color: rgb(255, 255, 255);
}
/* .top-home-link img {
  width: 30%;
  height: auto;
  left: 0px;
  bottom: 0px;
} */
.CT_logo {
  overflow: auto;
  width: 30%;
  height: auto;
  left: 0px;
  bottom: 0px;
}
/* Top Banner END */ 

/* .content {
  
  

}
.footer {

} */




