
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://cappa.dev">
            
            <style>
            img {
                width: 14%;
                height: auto;
            }
            </style>
                <img id="CT_logo" 
                     src="static/images/logowtext.png" 
                     alt="CappaTech logo" 
                >
        
        
        
        
        
        </a>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </div>
    </div>
  </nav>
